<style>
  .comp{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .comp img{

  }
</style>
<% var failImagesKeys = Object.keys(failImages); %>
<% if(failImagesKeys.length){ %>
  <% for(var k in failImagesKeys){ %>
    <% var failImage = failImages[failImagesKeys[k]] %>
    <div class="comp">
      <h2>Screenshot name: <%= failImage.name; %></h2>
      <b>Reason of fail: <span style="color: red;"><%= failImage.reason; %></span> </b><br>
      <% if (failImage.reason == 'Master image was not generated'){ %>
      <img src="<%=screenshots_generated_dir%>/<%=failImage.name; %>"><br>
      <% } else { %>
      <img src="<%=screenshots_source_dir%>/<%=failImage.name; %>"><br>
      <% } %>
      <% if (failImage.reason != 'New image was not generated' && failImage.reason != 'Master image was not generated'){ %>
      <h3>Regenerated image:</h3>
      <img src="<%=screenshots_generated_dir%>/<%=failImage.name; %>">
      <h3>Differences:</h3>
      <img src="<%=screenshots_diff_dir%>/<%=failImage.name; %>">
      <% } %>
      <hr>
    </div>
  <% } %>
<% } else {  %>
  <h1>No failures found!</h1>
<% } %>
